<main>
  <div class="container">
    <p>Use the form below to update your profile</p>
    <div class="form">
      <form #profileForm="ngForm" (ngSubmit)="update(profileForm)">
      <div class="form-container">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" ngModel />
        <label for="contact">Contact</label>
        <input type="text" id="contact" name="contact" ngModel />
        <label for="bio">Bio</label>
        <input type="text" id="bio" name="bio" ngModel />
        <button router.navigate="/profile">Submit</button>
      
      </div>  
      </form>
    </div>
  </div>
  
</main>